<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="keywords" content="BTW, rekenen, inclusief btw, exclusief btw">
        <meta name="description" content="Bereken BTW conform de rekenvoorbeelden van de Belastingdienst">
        <title>BTW resultaat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/btw.css">
    </head>

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1>Resultaat</h1>
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-2">Bedrag</td>
                                            <td align="right">{{ exclbtw }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">BTW</td>
                                            <td align="right">{{ btwbedrag }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">Totaal</td>
                                            <td align="right">{{ inclbtw }} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a href="/" class="btn btn-lg btn-primary" role="button" type="submit"
                        id="submit_button" name="submit_button">Nieuwe berekening</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
